# =========================
# MYSQL CONTAINER
# =========================

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=erp
MYSQL_USER=erp_user
MYSQL_PASSWORD=erp_pass

# =========================
# APP DATABASE CONNECTION
# =========================

DB_URL=jdbc:mysql://db:3306/erp?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USER=erp_user
DB_PASSWORD=erp_pass

# =========================
# EMAIL
# =========================

EMAIL_USER=
EMAIL_PASS=

# =========================
# GOOGLE OAUTH2
# =========================
GOOGLE_CLIENT_ID=782762727256-dlbj3gi0p6gm7a7ncb8alq4ek59uq4t1.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=COLOQUE_AQUI_O_SEU_SECRET_DO_GOOGLE
GOOGLE_REDIRECT_URI=http://localhost:8081/oauth2callback
