# =========================
# MYSQL CONTAINER
# =========================

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=erp
MYSQL_USER=erp_user
MYSQL_PASSWORD=erp_pass

# =========================
# APP DATABASE CONNECTION
# =========================

DB_URL=jdbc:mysql://db:3306/erp?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USER=erp_user
DB_PASSWORD=erp_pass

# =========================
# EMAIL
# =========================

EMAIL_USER=
EMAIL_PASS=
